p{
  background-color: lightblue;
  margin-bottom:24px;
  padding:24px;
}

div{
  display: block;
  width: 200px;
  height: 200px;
  background-color: orangered;
  /* margin: 0 auto; */
}

body{
  text-align: center;
}